* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: gray;
    --secondary-color: black;
    --accent-color: #add8e6;
    --background-color: #011f5b;
  }
  

  
  /* HEADER */
  .nav-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
  }
  
  .nav-info-container {
    display: flex;
    align-items: center;
  }
  
  .logo-image img {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 12px;
    padding-bottom: 12px;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    list-style: none;
    background-color: #000;
  }
  
  .navigation a {
    width: 100%;
    font-size: 25px;
    font-weight: 100;
    display: none;
    padding: 0.7rem;
    text-align: left;
    text-decoration: none;
    color: white;
  }
  
  .navigation a:hover {
    background-color: gray;
    color: black;
    font-size: 25px;
    width: 100%;
    text-align: left;
    font-weight: 100;
    border-radius: 5px;
  }
  
  .open a {
    display: block;
  }
  
  #menu {
    font-size: 55px;
    border: 0;
    background: none;
    color: #ffffff;
    position: absolute;
    top: 0.7rem;
    right: 2rem;
  }
  
  #menu::before {
    content: "☰";
  }
  
  #menu.open::before {
    content: "🗙";
  }
  
  /* header-container */
  .header-image {
    background-color: #fcfcfc9d;
    display: flex;
    flex-direction: column;
    border: #000 2px solid;
  }
  
  .header-title {
    font-size: 65px;
    margin-block: 10px;
    margin-inline: 30px;
    margin-top: 40px;
  }
  
  .header-prg {
    font-size: 20px;
    margin-inline: 5%;
    padding-right: 20px;
  }
  
  .header-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  
  .bttn-header {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: 100;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  
  /* MAIN */

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px;
    justify-content: center;
}
.item {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  background-color: #bcbbbb;
  color: #000; 
}

.hero {
  text-align: center;
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.hero button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--font-family-serif);
  text-wrap: wrap;
  height: 50px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}

.hero button:hover {
  background-color: var(--primary-color);
}

.hero button:active {
  background-color: var(--card-color);
  color: var(--text-color-dark);
}
  .event-section{
      border: #000 solid 3px;
      background-color: #fcfcfc9d;
      padding-block: 40px;
      padding-left: 20px;
  }
  
  .event-title{
      padding-bottom: 20px;
  }
  
  .event-title span{
      display: block;
      font-size: 40px;
      margin-block: 7px;
  }
  
  .event-title p{
      font-size: 20px;
  }
  
  .event-info{
      margin-bottom: 30px;
      background-color: gray;
      width: 98%;
      padding-left: 10px;
      padding-bottom: 10px;
  }
  
  .line{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:left;
      padding-block: 5px;
      gap: 5px;
      width: 100%;
  }
  
  .event-card-title{
      font-size: 20px;
      font-weight: 600;
      margin-block: 5px;
      display: block;
  }
  
  /* Button cards members */
  .button {
    margin-block: 20px;
    padding: 10px 40px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: gray;
    color: black;
  }
  
  .container-center {
    display: flex;
    justify-content: center;
  }
  
  .flex-container {
    display: flex;
    gap: 10px;
    max-width: 95%;
    margin-inline: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-1 {
    flex-basis: 100%;
  }
  
  .col-3 {
    flex-basis: 30%;
  }
  
  .card {
    border-radius: 8px;
    background-color: gray;
    flex-basis: 30%;
    flex-grow: 1;
    border: 1px solid #000;
  }
  
  .card-header {
    border-bottom: 1px solid var(--background-color);
    padding-block: 10px;
    text-align: center;
  }
  
  .card-body {
    display: flex;
    gap: 5px;
    margin: 10px 5px;
  }
  
  .card-image {
    width: 70px;
    margin-right: 5px;
  }
  
  .card-image img {
    display: block;
    width: 100%;
  }
  
  .card-content p {
    font-size: 0.95rem;
    margin-block: 4px;
  }
  
  .font-bold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  /* FOOTER */
  
  .footer {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 10px;
    padding-left: 20px;
    margin-top: 40px;
  }
  
  .cusco-column p {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .info-column p {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }

#home-container, #directory-container {
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.main-heading {
  font-size: 1.75rem;
}

#home-cards, #directory-cards {
  display: flex;
  flex-direction: column;
}

.home-card {
  background-color: gray;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.home-card h2 {
  margin: 0;
  font-size: 1rem;
  background-color: white;
  color: var(--text-color);
  padding: 10px;
}

#home-dir-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#events p {
  margin: 0;
  padding: 20px;
}

#weather-icon {
  grid-column: 1/2;
  padding: 20px;
  justify-self: center;
}

#current-weather-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-right: 10px;
  padding-top: 1rem;
}

.temps {
  font-weight: bold;
}

#temp-desc {
  text-transform: capitalize;
}

#current-weather-details span {
  font-weight: normal;
  margin-left: 5px;
}

#forecast-details {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 1.2rem;
}

#forecast-details span {
  padding: 10px;
}

.card-label {
  font-weight: bold;
  margin-right: 5px;
  font-size: .9rem;
}

.hidden {
display: none;
}

/* DISCOVERY PAGE: POLAROID IMAGES */
.gallery {
background-color: var(--darker-color);
color: var(--lighten-color);
padding-bottom: 40px;
}

.gallery-info {
width: 90%;
margin-block: 20px;
margin-inline: 40px;
display: flex;
flex-direction: column;
justify-content: center;
}

.gallery-title {
text-align: center;
font-size: 24px;
font-weight: 900;
font-family: Georgia, "Times New Roman", Times, serif;
margin-bottom: 10px;
}

.gallery-sub {
text-align: center;
font-size: 16px;
}

.polaroid {
width: 90%;
margin-inline: 40px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 30px;
}

.polaroid img {
width: 100%;
max-width: 100%;
transition: 0.5s ease;
}

.pola-title-container {
background-color: var(--lighten-color);
color: var(--darker-color);
text-align: center;
font-size: 24px;
padding: 10px 20px;
font-weight: 800;
}
/* discover header */
.grid-container {
  grid-template-columns: repeat(5, 1fr);
}

.side-bar {
  grid-column: span 2;
}

.card-blog-content {
  margin-inline: 0;
}

.discover {
  height: 400px;
  background-color: var(--main-color);
}

.discover-image {
  display: none;
}

.title-container {
  background-color: var(--second-color);
  color: var(--darker-color);
  margin-block: 100px;
  margin-inline: 150px;
  border-radius: 30px;
  display: inline-block;
}

.discover-title {
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 50px;
}

/* card-blog */
.card-blog {
  padding-block: 15%;
  padding-inline: 10%;
}

.calendar-back {
  padding-block: 15%;
}

.polaroid {
  width: 50%;
  margin-inline: 25%;
}

.polaroid img {
  transition: 0.5s ease;
}

.polaroid img:hover {
  box-shadow: 0 0 20px var(--lighten-color);
}

.gallery {
  grid-column: span 3;
}
/* main Grid */
.grid-container {
display: grid;
grid-template-columns: 1fr;
}

/* main grid [blog] */
.card-blog {
background-color: var(--second-color);
color: white;
padding-block: 60px;
}

.card-blog-content {
background-color: var(--lighten-color);
color: var(--darker-color);
margin-block: 10px;
margin-inline: 40px;
padding-block: 60px;
padding-inline: 40px;
border-radius: 20px;
display: flex;
flex-direction: row;
box-shadow: 7px 7px 4px -4px rgba(0, 0, 0, 0.55);
}
.card-header-blog {
display: flex;
flex-direction: column;
gap: 10px;
}

.blog-bttn {
background-color: var(--main-color);
width: 30%;
outline: none;
color: var(--lighten-color);
padding: 10px 20px;
border-radius: 15px;
font-weight: 700;
box-shadow: 7px 7px 4px -4px rgba(0, 0, 0, 0.55);
cursor: pointer;
}

.blog-bttn:hover {
background-color: #5f9fff;
cursor: pointer;
color: black;
}

.card-img-blog img {
border-radius: 10px;
height: 150px;
}

/* CALENDAR CONTAINER */
.calendar-back {
background-color: var(--second-color);
padding-block: 40px;
}

.calendar {
background-color: var(--lighten-color);
color: var(--darker-color);
margin: auto;
width: 380px;
padding: 1rem;
border-radius: 10px;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.175);
}

.calendar header {
display: flex;
align-items: center;
justify-content: space-between;
}

.calendar ul {
list-style: none;
display: flex;
flex-wrap: wrap;
text-align: center;
}

.calendar ul li {
width: calc(100% / 7);
margin-top: 25px;
position: relative;
z-index: 2;
}

h3 {
font-weight: 600;
}

#prev,
#next {
width: 20px;
height: 20px;
position: relative;
border: none;
background: transparent;
cursor: pointer;
}

#prev::before,
#next::before {
content: "";
width: 50%;
height: 50%;
position: absolute;
top: 50%;
left: 50%;
border-style: solid;
border-width: 0.25em 0.25em 0 0;
border-color: var(--darker-color);
}

#next::before {
transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
border-color: var(--second-color);
}

.days {
font-weight: 600;
}

.days li .today {
color: #fff;
}

.dates li .today::before {
content: "";
width: 2rem;
height: 2rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: #000;
border-radius: 50%;
z-index: -1;
}

.days li .inactive {
color: #ccc;
}

.dialog {
  background-color:#00416a;
  padding: 20px;
  border: 1px solid #00416a;
  border-radius: 10px;
  box-shadow: 5px 4px 8px -3px rgba(0, 0, 0, 0.5);
  width: 80%;
  left: 10%;
  top: 10%;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialog-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color:#5f9fff;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.dialog-card {
    padding-block: 40px;
    padding-inline: 40px;
    background-color: rgba(255, 255, 255, 0.37);
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-card-title {
  align-self: center;
  color:white;
  font-size: 32px;
  font-weight: 900;
}

.dialog-bttn {
  color:white;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}

.dialog-card-subtitle{
    color:#00416a;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.dialog-card-content{
    font-size: 20px;
    color:black;
    text-align: center;

}

  
  @media screen and (min-width: 769px) {
    .header-image {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .header-image-info {
      background-color: #fcfcfc9d;
      max-width: 100%;
      width: 100%;
    }
  
    .header-title {
      font-size: 65px;
      margin-block-start: 20%;
      margin-inline: 5%;
      padding-right: 20px;
    }
  
    .header-prg {
      font-size: 20px;
      margin-inline: 5%;
      padding-right: 20px;
    }
  
    .header-image img {
      object-fit: contain;
      width: 50%;
      height: 700px;
    }
  
    .bttn-header {
      margin-top: 15px;
      padding: 10px 20px;
      border-radius: 15px;
      background-color: var(--background-color);
      color: white;
      font-weight: 700;
      margin-left: 40px;
    }
  
    .nav-container {
      flex-direction: row;
    }
  
    .navigation {
      padding-left: 10px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .navigation a {
      display: block;
      text-align: center;
    }
  
    .navigation a:hover {
      text-align: center;
    }
  
    #menu {
      display: none;
    }
  
    .footer {
      flex-direction: row;
      gap: 400px;
      padding-inline: 10%;
    }
  }