<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoinEd Home Page</title>
  <meta name="author" content="Chad Hatch">
  <meta name="description" content="This is a website for Cryptocurrency.">
  <meta property="og:title" content="CoinEd Home Page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://chadhatch11.github.io/wdd231/project/images/hero.webp">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="400">
  <meta property="og:url" content="https://chadhatch11.github.io/wdd231/project/index.html">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="icon" href="./images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./scripts/crypto.js" defer></script>
  <script src="scripts/scripts.js" defer></script>
  <script src="scripts/members.js" type="module"></script>
  <script src="scripts/home.js" type="module"></script>
</head>
<body>
  <header class="header">
    <div class="nav-container">
      <div class="nav-info-container">
        <div class="logo-image">
          <img src="images/logo.webp" alt="logo" width="200" height="200">
        </div>
        <button aria-label="Submit" id="menu"></button>
      </div>
      <nav class="navigation">
          <a href="index.html" title="Home">Home</a>
          <a href="directory.html" title="Exchanges">Exchanges</a>
          <a href="join.html" title="Subscribe">Subscribe</a>
          <a href="discovery.html" title="Prices">Prices</a>
      </nav>
    </div>
  </header>
  <main> 
    <div class="hero">
      <picture>
        <source media="(min-width: 1000px)" srcset="images/hero-copy.jpg">
        <source media="(min-width: 700px)" srcset="images/crypto.webp">
        <img src="images/future.webp" alt="hero image" width="700" height="280">
      </picture>
      <button class="bttn-header" type="button">Join</button>
    </div>
    <main id="app">
      <div v-if="currentView === 'prices'">
          <h2>Cryptocurrency Prices</h2>
          <div class="container">
              <div v-for="(result, key) in results" :key="key">
                  <div class="item crypto">
                      <p>{{ key }}</p>
                  </div>
                  <div class="item result">
                      <p>$ {{ result.USD }}</p>
                  </div>
                  <div class="item result">
                      <p>&#8364; {{ result.EUR }}</p>
                  </div>
                  <div class="item result">
                      <p>£ {{ result.GBP }}</p>
                  </div>
              </div>  
          </div>
      </div>  
  </main>
  <footer class="footer">
    <div class="cusco-column">
      <p><span>Cusco Chamber of Commerce</span></p>
      <p>F2JC+PMR</p>
      <p>Cusco, 08002, Peru</p>
      <p>info@cuscomunicipalidad.org</p>
      <p>(51) 8422-8988</p>
    </div>
    <div class="social-column">
      <img src="images/twitter.png" alt="twitter-icon" width="50" height="50">
      <img src="images/facebook.png" alt="facebook-icon" width="50" height="50">
      <img src="images/instagram.png" alt="Instagram-icon" width="50" height="50">
    </div>
    <div class="info-column">
      <p>WDD231 Class Project</p>
      <p>Chad Hatch</p>
      <p id="currentyear">Cusco Chamber of Commerce</p>
      <p id="lastModified">Last Modification:</p>
    </div>
  </footer>
</body>
</html>
