* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: gray;
    --secondary-color: black;
    --accent-color: #add8e6;
    --background-color: #011f5b;
  }
  

  
  /* HEADER */
  .nav-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
  }
  
  .nav-info-container {
    display: flex;
    align-items: center;
  }
  
  .logo-image img {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 12px;
    padding-bottom: 12px;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    list-style: none;
    background-color: #000;
  }
  
  .navigation a {
    width: 100%;
    font-size: 25px;
    font-weight: 100;
    display: none;
    padding: 0.7rem;
    text-align: left;
    text-decoration: none;
    color: white;
  }
  
  .navigation a:hover {
    background-color: gray;
    color: black;
    font-size: 25px;
    width: 100%;
    text-align: left;
    font-weight: 100;
    border-radius: 5px;
  }
  
  .open a {
    display: block;
  }
  
  #menu {
    font-size: 55px;
    border: 0;
    background: none;
    color: #ffffff;
    position: absolute;
    top: 0.7rem;
    right: 2rem;
  }
  
  #menu::before {
    content: "☰";
  }
  
  #menu.open::before {
    content: "🗙";
  }
  
  /* header-container */
  .header-image {
    background-color: #fcfcfc9d;
    display: flex;
    flex-direction: column;
    border: #000 2px solid;
  }
  
  .header-title {
    font-size: 65px;
    margin-block: 10px;
    margin-inline: 30px;
    margin-top: 40px;
  }
  
  .header-prg {
    font-size: 20px;
    margin-inline: 5%;
    padding-right: 20px;
  }
  
  .header-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  
  .bttn-header {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: 100;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  
  /* MAIN */


.hero {
  text-align: center;
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.hero button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--font-family-serif);
  text-wrap: wrap;
  height: 50px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}

.hero button:hover {
  background-color: var(--primary-color);
}

.hero button:active {
  background-color: var(--card-color);
  color: var(--text-color-dark);
}
  .event-section{
      border: #000 solid 3px;
      background-color: #fcfcfc9d;
      padding-block: 40px;
      padding-left: 20px;
  }
  
  .event-title{
      padding-bottom: 20px;
  }
  
  .event-title span{
      display: block;
      font-size: 40px;
      margin-block: 7px;
  }
  
  .event-title p{
      font-size: 20px;
  }
  
  .event-info{
      margin-bottom: 30px;
      background-color: gray;
      width: 98%;
      padding-left: 10px;
      padding-bottom: 10px;
  }
  
  .line{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:left;
      padding-block: 5px;
      gap: 5px;
      width: 100%;
  }
  
  .event-card-title{
      font-size: 20px;
      font-weight: 600;
      margin-block: 5px;
      display: block;
  }
  
  /* Button cards members */
  .button {
    margin-block: 20px;
    padding: 10px 40px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .button:hover {
    background-color: gray;
    color: black;
  }
  
  .container-center {
    display: flex;
    justify-content: center;
  }
  
  .flex-container {
    display: flex;
    gap: 10px;
    max-width: 95%;
    margin-inline: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-1 {
    flex-basis: 100%;
  }
  
  .col-3 {
    flex-basis: 30%;
  }
  
  .card {
    border-radius: 8px;
    background-color: gray;
    flex-basis: 30%;
    flex-grow: 1;
    border: 1px solid #000;
  }
  
  .card-header {
    border-bottom: 1px solid var(--background-color);
    padding-block: 10px;
    text-align: center;
  }
  
  .card-body {
    display: flex;
    gap: 5px;
    margin: 10px 5px;
  }
  
  .card-image {
    width: 70px;
    margin-right: 5px;
  }
  
  .card-image img {
    display: block;
    width: 100%;
  }
  
  .card-content p {
    font-size: 0.95rem;
    margin-block: 4px;
  }
  
  .font-bold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  /* FOOTER */
  
  .footer {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 10px;
    padding-left: 20px;
    margin-top: 40px;
  }
  
  .cusco-column p {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .info-column p {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }
  
  @media screen and (min-width: 769px) {
    .header-image {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .header-image-info {
      background-color: #fcfcfc9d;
      max-width: 100%;
      width: 100%;
    }
  
    .header-title {
      font-size: 65px;
      margin-block-start: 20%;
      margin-inline: 5%;
      padding-right: 20px;
    }
  
    .header-prg {
      font-size: 20px;
      margin-inline: 5%;
      padding-right: 20px;
    }
  
    .header-image img {
      object-fit: contain;
      width: 50%;
      height: 700px;
    }
  
    .bttn-header {
      margin-top: 15px;
      padding: 10px 20px;
      border-radius: 15px;
      background-color: var(--background-color);
      color: white;
      font-weight: 700;
      margin-left: 40px;
    }
  
    .nav-container {
      flex-direction: row;
    }
  
    .navigation {
      padding-left: 10px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .navigation a {
      display: block;
      text-align: center;
    }
  
    .navigation a:hover {
      text-align: center;
    }
  
    #menu {
      display: none;
    }
  
    .footer {
      flex-direction: row;
      gap: 400px;
      padding-inline: 10%;
    }
  }
  #home-container, #directory-container {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.main-heading {
    font-size: 1.75rem;
}

#home-cards, #directory-cards {
    display: flex;
    flex-direction: column;
}

.home-card {
    background-color: gray;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.home-card h2 {
    margin: 0;
    font-size: 1rem;
    background-color: white;
    color: var(--text-color);
    padding: 10px;
}

#home-dir-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#events p {
    margin: 0;
    padding: 20px;
}

#weather-icon {
    grid-column: 1/2;
    padding: 20px;
    justify-self: center;
}

#current-weather-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 10px;
    padding-top: 1rem;
}

.temps {
    font-weight: bold;
}

#temp-desc {
    text-transform: capitalize;
}

#current-weather-details span {
    font-weight: normal;
    margin-left: 5px;
}

#forecast-details {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 1.2rem;
}

#forecast-details span {
    padding: 10px;
}

.card-label {
    font-weight: bold;
    margin-right: 5px;
    font-size: .9rem;
}

.hidden {
  display: none;
}